In [13]:
import pandas as pd

In [14]:
data= [i for i in range(10)]

In [15]:
s=pd.Series(data)

In [16]:
d= { i:i**2 for i in range(5) }
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [17]:

s=pd.Series(d)
s

0     0
1     1
2     4
3     9
4    16
dtype: int64

In [22]:
data= {
    "name":['prajwal','yash','ashsih'],
    "age":[23,24,22],
    "job":["SE","CEO","SDE"]
}

df=pd.DataFrame(data)

In [23]:
df

      name  age  job
0  prajwal   23   SE
1     yash   24  CEO
2   ashsih   22  SDE

In [27]:
data= [ { "name":"prajwal" ,"age":23},
         { "name":"yash" ,"age":13},
         { "name":"ashis" ,"age":22}
      ]
df=pd.DataFrame(data)

In [28]:
df

      name  age
0  prajwal   23
1     yash   13
2    ashis   22